.container {
  height: 22vh;
  width: 50vw;
  padding: 15px 20px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px white;
  color: white;
  position: relative;
}

.heading {
  color: rgb(0, 0, 0);
  font-size: 35px;
  text-align: center;
}
h1 {
  margin: 1.2rem;
}
p {
  position: absolute;
  bottom: 1.5rem;
  right: 4rem;
  font-size: 1.4rem;
  color: grey;
}

button {
  margin-top: 20px;
  padding: 7px 13px;
  border-radius: 5px;
  border: none;
  background-color: green;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(2, 197, 2);
}

button:active {
  background-color: blue;
}
